.btn-primary {
    background-color: #165558 !important;
    border: 1px #5cc4b0 solid !important;
    opacity: 0.7;
    padding: .5rem !important;;
    font-size: 14px !important;
    min-width: 10rem !important;
    width:fit-content !important;
}