body {
  background-color: black;
  color: white;
  text-align: center;
}

img {
  display: center;
  padding-top: 100px;
  padding-right: 150px;
}

h1 {
  color: #00ffff;
  margin-bottom: 75px;
}

.button {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}
