body {
  background-color: black;
  color: white;
  text-align: center;
}

img {
  display: center;
  padding-top: 100px;
  padding-right: 150px;
}

h1 {
  color: #00ffff;
  margin-bottom: 75px;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding: 20px 40px;
  font-size: 18px;
  background: #165558;
  color: #fff;
  border: 1px #5cc4b0 solid;
  border-radius: 5px;
  margin-top: 75px;
  opacity: 0.7;
}
.button:hover {
  transform: scale(0.95);
  background: #4b8f82;
  color: white;
}

/* font: bold 20px Arial;
  text-decoration: none;
  background-color: #165558;
  color: #fcf6f6;
  padding: 12px;
  border: 3px #5cc4b0;
} */
/* border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
} */
