* {
    color: white;
  }
  body {
    background-color: #0f1616;
  }

  .ticketDisplay {
    margin-top: 2rem;
    width: 100%;
  }
  #tables {
    display: flex;
    margin: auto;
    justify-content: space-between !important;
  }
  
  .table-dark {
    --bs-table-bg: #000000;
    --bs-table-striped-bg: #212529;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #373b3e;
  }
  .table-container {
    height: 70vh;
  }
  table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
  }
  table thead {
    /* head takes the height it requires, 
      and it's not scaled when table is resized */
    flex: 0 0 auto;
  }
  table tbody {
    display: block;
    overflow-y: scroll;
  }
  thead,
  tbody,
  tr {
    width: 100%;
  }
  table thead,
  table tbody tr {
    display: table;
    table-layout: fixed;
  }
  #label-button {
    display: flex;
    justify-content: space-between !important;
    width: 100%;
    margin: 2rem auto;
    padding:2rem;
  }

  .btn{
      margin: auto 0 auto auto !important;
  }
  
  .card {
    display: inline-block;
    width: 100% !important;
    background: #000000;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
      background:transparent; 
      border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(75, 75, 75);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: rgb(36, 35, 35); 
  }
  
  .remove, .edit{
    background-color: transparent !important;
    border:none;
    height: 100%;
    background:rgba(255, 255, 255, 0.281); 
  }
  
  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 50ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    padding: 3rem;
    background: #000;
    border:#4b8f82 1px solid;
    border-radius: 5px;
    width: 25rem;
    transition: all 1s ease-in-out;
  }
  .delete{
    background:none;
    color:white;
    border:none;
  
  }
  .group{
    display:flex;
    width:10rem;
    justify-content: space-between;
    margin:2rem auto 0 auto;
  }
  .popup h2 {
    margin-top: 0;
    color: #fff;
    font-family: Tahoma, Arial, sans-serif;
  }
  
  .popup .content {
    max-height: 25rem;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px) {
    .box {
      width: 70%;
    }
    .popup {
      width: 70%;
    }
  }

  .High{
    color:red !important;
  }
  .Low{
    color:yellow !important;
  }
  .Normal{
    color:green !important;
  }