*{
    color:white;
}
body{
    background-color:#262727;
}
.container{
    margin: 2rem auto;
    background-color:#262727;
}
#addTicket{
font-size: 2rem;
}
.ticketDisplay{
    margin-top:2rem;
    width:100%;
}
#tables{
    display:flex;
    margin:auto;
    justify-content: space-between !important;
}

.table-dark {
    --bs-table-bg: #000000;
    --bs-table-striped-bg: #212529;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #373b3e;
}
.table-container {
    height: 70vh;
}
table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
}
table tbody {
    display: block;
    overflow-y: scroll;
}
thead, tbody, tr {
    width: 100%;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}
.name{
    width:15%;
}
.details{
    width:40%;
}
.Assigned{
    width:15%;
}
.date{
    width:10%
}
.editButton{
    width:5%;
}
#label-button{
    display:flex;
    justify-content: space-between !important;
    width:100%;
    margin: 2rem auto;
}

.card{
    display:inline-block;
    width:100%!important;
    background:#000000;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #b1b1b1; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(75, 75, 75); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(36, 35, 35); 
}
