*{
  font-size: 14px;
}

body {
  font-family: "Lato", sans-serif;
  background-color:#262727;
}

h1 {
  margin-bottom: 40px;
  color: blanchedalmond;
  display:block;
}

label {
  color: rgba(255, 255, 255, 0.74);
}
.bg-info{
  background-color:black !important;
}
.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px;
}

.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;
}

.card {
  margin-left: 10px;
  margin-right: 10px;
}
select option{
  color:black;
}
#buttonGroup{
  display:flex;
  flex-wrap:wrap !important;
  justify-content: space-between !important;
}
.btn{
  margin:1rem auto !important;
  width:10rem;
}
.card {
  display: block !important;
  position: relative;
  margin-top: 8rem !important;
}
input, select, textarea{
  font-size: 14px !important;
  background-color:  #373b3e !important;
  border-color: #707b83 !important;
  color:rgb(175, 175, 175) !important;
  cursor:text
}
.form-control[disabled], fieldset[disabled] .form-control {
  cursor: text;
  background-color:  #3b3b3b !important;
  border-color: #3b3b3b !important;
  color:rgb(175, 175, 175) !important;
}
@media (max-width: 768px) {
  .container {
    min-width: 1px;
  }
}
.remove{
  background-color: transparent !important;
  border:none !important;
  color:#0d6efd;
  font-size: medium;
}
.editbutton{
  background-color: transparent !important;
  border:none !important;
  color:#47787a;
  font-size: larger !important;
}
.topRow{
  text-align: center;
  display:flex;
  justify-content: space-between;
}
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 50ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  padding: 3rem;
  background: #000;
  border:#4b8f82 1px solid;
  border-radius: 5px;
  width: 25rem;
  transition: all 1s ease-in-out;
}
.delete{
  background:none;
  color:white;
  border:none;

}
.group{
  display:flex;
  width:10rem;
  justify-content: space-between;
  margin:2rem auto 0 auto;
}
.popup h2 {
  margin-top: 0;
  color: #fff;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .content {
  max-height: 25rem;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}