*{
  font-size: 14px;
}

body {
  font-family: "Lato", sans-serif;
  background-color:#262727;
}

h1 {
  margin-bottom: 40px;
  color: blanchedalmond;
  display:block;
}

label {
  color: rgba(255, 255, 255, 0.74);
}
.bg-info{
  background-color:black !important;
}
.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px;
}

.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;
}

.card {
  margin-left: 10px;
  margin-right: 10px;
}
select option{
  color:black;
}
#buttonGroup{
  display:flex;
  flex-wrap:wrap !important;
  justify-content: space-between !important;
}
.btn{
  margin:1rem auto !important;
  width:10rem;
}
.card {
  display: block !important;
  position: relative;
  margin-top: 8rem !important;
}
input, select, textarea{
  font-size: 14px !important;
  background-color:  #373b3e !important;
  border-color: #707b83 !important;
  color:rgb(175, 175, 175) !important;
  cursor:text
}
.form-control[disabled], fieldset[disabled] .form-control {
  cursor: text;
  background-color:  #3b3b3b !important;
  border-color: #3b3b3b !important;
  color:rgb(175, 175, 175) !important;
}
@media (max-width: 768px) {
  .container {
    min-width: 1px;
  }
}
.remove{
  background-color: transparent !important;
  border:none !important;
  color:#0d6efd;
  font-size: medium;
}
.edit{
  background-color: transparent !important;
  border:none !important;
  color:#47787a;
  font-size: larger !important;
}
.topRow{
  text-align: center;
  display:flex;
  justify-content: space-between;
}
